
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html { 
  background: url(../images/header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
  /*--------------------Navigation Styilng -------------------------------------------*/
  font-size: 10px;
  font-family: "Roboto Cn", sans-serif;
}

header{
	width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.1)), url("../images/header.jpg") center no-repeat;
	background-size: cover;
	position: relative;
    overflow: hidden;
}

.container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

nav{
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

.brand{
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}
.brand a {
	color: green;
}
a {
	color: green;
}

.brand span{
	color: purple;
}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: purple;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@media screen and (max-width: 700px){

	.menu-toggle{
		display: block;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}

	.brand{
		font-size: 5rem;
	}
  
  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  }
  
}
/*-----End of Navigation Styles ----------------------------------------------*/
main{
	height:800px;
	background: white;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); 
	grid-template-rows:;
	grid-gap: 10px 10px;
	margin-top: 10px;
}
.grid-container p {
	font-size: 1.4em;
}
.grid-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: grey;
	padding: 15px;
}
.fairest {
	height: 315px;
	width: 225px;
}
.item-1 {
	background: white;
}

.item-2 {
	background: white;
}
.item-3 {
	background: white;
}
.item-4 {
	background-color: white;
}
.item-5 {
	background: white;
}
.item-6 {
	background-color: white;
}
.item-7 {
	background: white;
}
.item-8 {
	background-color: white;
}

.item-9 {
	background: white;
}

.item-10 {
	background-color: white;
}
.item-11 {
	background: white;
}
.item-12 {
	background-color: white;
}

footer {
	margin-top: 130px;
	height: 300px;
	background-color: black;
	margin: auto;
	color: white;
	text-align: center;
	font-size: 1.4em;
}
footer address {
	margin-top: 35px;
}























