
html { 
  background: url(../images/massageTable.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	box-sizing: border-box;
	text-align: center;
	
	/*linear-gradient(45deg, #3f87a6 0 50%, blue 50% 100%);*/
	background: transparent;
	height: 700px;
	width:60%;
	margin: auto;
}
header {
	
	height: 300px;
	
}
img {
	position: fixed;
	left: 25px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid skyblue;
}
.main-nav {
	position: sticky;
    top: 0;
   z-index: 100;
	
}
main {
	
	color: purple;
}
ul {
	background: url(../images/backgroundFlowers.jpg) no-repeat;
	background-size:cover ;
	height: 150px;
	position: sticky;
    top: 0;
   z-index: 100;
	border-radius: 7px;
	display: flex;
	flex-direction: columns;
	justify-content: space-around;
}
ul li {
	width: 100%;
	margin-top: 50px;
	position: sticky;
    top: 0;
   z-index: 100;
}
li {
	list-style-type: none;
	margin-left: -35px;
	background-color: skyblue;
	height: 25px;
	
	border-radius: 5px;
	margin-top: 25px;
	position: sticky;
    top: 0;
   z-index: 100;
}

p {
	margin-top: 75px;
	color: white;
	font-size: 25px;

footer {
	background-image: linear-gradient(45deg, #3f87a6 0 50%, blue 50% 100%);
}
